Library
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
UserSettings/Layouts/default-2021.dwlt
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
Logs
